* {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 18px;
	color: #fff;
	background-color: #353535;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

#actions {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.toolbar.left {
	justify-content: flex-start;
}

.toolbar.right {
	justify-content: flex-end;
}

.toolbar.space {
	justify-content: space-between;
}

.bottom {
	margin-top: auto;
}

.center {
	justify-content: center;
}

button {
	background: none;
	border: none;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px;
	height: 56px;
	width: 56px;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
	transition: all .1s;
}

.button:active {
	background-color: rgba(255, 255, 255, .3);
}

.snap {
	background-color: #fff;
	color: rgba(0, 0, 0, 0.87);
}

.snap:active {
	transform: scale(1.1);
	background-color: #50E3C2;
	color: #fff;
}

#grid {
	position: absolute;
	z-index: -1;
}

table {
	width: 100vw;
	height: 100vh;
	transition: all .2s;
}

table {
	border-collapse: collapse;
	border-style: hidden;
}

table td {
	border: 2px solid rgba(255, 255, 255, .2);
}
